/* Global Styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-color: #242424;
  transition: background-color 0.3s;
  background: url('path/to/your-image.jpg') no-repeat center center/cover;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-weight: 500;
  cursor: pointer;
  background-color: #1a1a1a;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #646cff;
} */
